---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching %}
  {% if post.title == "math-camp" %}
    {% include archive-single.html %}
  {% elsif post.title == "scope-and-methods" %}
    {% include archive-single.html %}
  {% elsif post.title == "intro-to-american" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% comment %}

{% include base_path %}

{% for post in site.teaching reversed %}
  {% if post.collection == "teaching" %}
    <meta http-equiv="refresh" content="0; url=https://bulletin.gwu.edu/courses/psc/">
    <p>If you are not redirected, <a href="https://bulletin.gwu.edu/courses/psc/">click here</a>.</p>
  {% else %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% endcomment %}
